<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Validation Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
$(function() {
  $('.username-input').on('focus', function() {
    $('#username-error').hide();
  });

  $('.password-input').on('focus', function() {
    $('#password-error').hide();
  });

  $('form').on('submit', function(e) {
    var $username = $('#username');
    var $usernameError = $('#username-error');
    var $password = $('#password');
    var $passwordError = $('#password-error');
    var $notice = $('#notice');

    var username = $username.val();
    var password = $password.val();

    if (username.trim() === '') {
      $usernameError.text('아이디를 입력하세요.').show();
      e.preventDefault();
    } else {
      $usernameError.hide();
    }

    if (password.trim() === '') {
      $passwordError.text('패스워드는 필수 값입니다.').show();
      e.preventDefault();
    } else {
      $passwordError.hide();
    }
  });
});
</script>
</head>
<body>
	<div id ="notice"></div>
  <form th:action="@{/login}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input type="text" name="username" id="username" class="form-control username-input">
      <div id="username-error"></div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" name="password" id="password" class="form-control password-input">
      <div id="password-error"></div>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
  <a class="p-2" href="https://kauth.kakao.com/oauth/authorize?client_id=190e5989474e82fc2f7d78c412ba253e&redirect_uri=http://localhost:8080/kakao_login&response_type=code">
    <img th:src="@{/img/sns_login/kakao_login_medium_narrow.png}" style="width: 100px; height: 30px;"/>
  </a>
</body>
</html>